<head>
</head>
<body>
    <app-sidebar></app-sidebar>
  
    <h3>Angular Router</h3>

    <a routerLink="/" routerLinkActive="active">HOME</a><br>
    <a ng-if="" routerLink="/login" routerLinkActive="active">LOGIN</a><br>
    <a ng-if="" routerLink="/" routerLinkActive="active">LOGOUT</a><br>
    <a routerLink="/mnist" routerLinkActive="active">MNIST</a><br>
    <a routerLink="/stats" routerLinkActive="active">STATS</a>


  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      ESME SUDRIA - Sylvain RAJKOUMAR - Thomas BRASEY
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>